body
{
    background-color: yellow;
    font-family: arial black;
}

.header
{
    height: 10px;
}

h1
{
    position: absolute;
    font-size: 100;
    text-shadow:
    -5px -5px 0 white,
    5px -5px 0 white,
    -5px 5px 0 white,
    5px 5px 0 white;
    right: 100px;
    z-index: 1000;
}

a:link
{
    text-decoration: none;
    color: #000000;
}

a:visited
{
    color: #000000;
}

a:hover
{
    color: #6BFFB7;
    height: 10px;
}

.pizza
{
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.bieber
{
    position: absolute;
    top: 205px;
    right: 315px;
    z-index: 200;
}

.cat
{
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 2;
}

.dolphin
{
    position: absolute;
    top: 0px;
    z-index: 1;
}

.lindsay
{
    position: absolute;
    top: 110px;
    right: 260px;
}

.msg
{
    position: absolute;
    top: 350px;
    right: 220px;
}

.palm
{
    position: absolute;
    top: 110px;
    right: 50px;
    float: right;
}

.sad
{
    position: absolute;
    top: 110px;
    right: 220px;
}

.timeline
{
    position: absolute;
    top: 204px;
    right: 313px;
    z-index: 5000;/*HAH take that bieber!*/
}

.translate
{
    position: absolute;
    top: 45px;
    right: 200px;
    width: 430px;
    height: 50px;
}

.trans
{
    position: absolute;
    top: 410px;
    right: 350px;
}

.twitter-code
{
    position: absolute;
    top: 10px;
    right: 200px;
    width: 430px;
    height: 50px;
}

.twitter-login
{
    position: absolute;
    top: 45px;
    right: 0px;
    width: 200px;
    height: 50px;
}

.words
{
    position: absolute;
    top: 45px;
    right: 200px;
    width: 430px;
    height: 50px;
    z-index: 2000;
}
